.cardsContainer {
    color: white;
  }
  
  .filterContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
  }
  
  .filterOption {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    color: #fff;
    background-color: #36df5ad8;
    border-radius: 0rem;
    padding: 0.2rem .5rem;
    text-decoration: none;
    transition: 0.6s;
    outline: none;
    cursor: pointer;
  }
  
  .filterOption:hover {
    background-color: #37bb79d8;
  }
  
  .cardsBox {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0;
  }
  
  .card {
    margin: 0 auto;
  }
  
  .cardLink {
    color: black;
    text-decoration: none;
  }
  